openapi: 3.0.0
info:
  title: Solution API
  description: >-
    The user-centered Solution API makes it possible to build customised energy
    applications.
  version: 2.0.0
  license:
    name: All rights reserved.
    url: https://www.gridx.ai/
  x-api-id: ba9d6a25-ae1a-4ac8-af7a-70b76db17021
  x-audience: company-internal
servers:
  - url: https://api.gridx.de
tags:
  - name: Scan Configuration
    x-displayName: Scan Configuration
  - name: Account
    x-displayName: Account
  - name: Market Prices
    x-displayName: Market Prices
  - name: Token
    x-displayName: Token
  - name: System
    x-displayName: System
  - name: Policy
    x-displayName: Policy
  - name: Document
    x-displayName: Document
  - name: Group
    x-displayName: Group
  - name: User
    x-displayName: User
  - name: Notification
    x-displayName: Notification
  - name: Plan
    x-displayName: Plan
  - name: RFIDTag
    x-displayName: RFIDTag
  - name: Platform
    x-displayName: Platform
  - name: Energy Tariff
    x-displayName: Energy Tariff
  - name: Asset
    x-displayName: Asset
  - name: Clusters
    x-displayName: Clusters
  - name: Customer
    x-displayName: Customer
  - name: Import Power Limit
    x-displayName: Import Power Limit
  - name: Appliance
    x-displayName: Appliance
  - name: EV Charging Schedule
    x-displayName: EV Charging Schedule
  - name: EV Configuration
    x-displayName: EV Configuration
  - name: EV Profile
    x-displayName: EV Profile
  - name: Battery Control Command
    x-displayName: Battery Control Command
  - name: Capacity Tariff
    x-displayName: Capacity Tariff
  - name: Gateway
    x-displayName: Gateway
  - name: Scan
    x-displayName: Scan
  - name: Job
    x-displayName: Job
  - name: TariffV2
    x-displayName: TariffV2
  - name: TimeOfUse
    x-displayName: TimeOfUse
  - name: GridSignals
    x-displayName: GridSignals
  - name: Power Limit Schedule
    x-displayName: Power Limit Schedule
  - name: EMS
    x-displayName: EMS
  - name: Cluster
    x-displayName: Cluster
  - name: Product Functionality
    x-displayName: Product Functionality
  - name: Product Option
    x-displayName: Product Option
  - name: Devices
    x-displayName: Devices
  - name: Power Sequence
    x-displayName: Power Sequence
  - name: Star
    x-displayName: Star
paths:
  /accounts/{accountID}/scanconfiguration:
    get:
      summary: Retrieve Scan Configuration
      tags:
        - Scan Configuration
      security:
        - BearerAuth:
            - ScanConfigurationRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          $ref: '#/components/responses/GetScanConfigResponse'
        '404':
          $ref: '#/components/responses/ScanConfigurationNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create a Scan Configuration
      tags:
        - Scan Configuration
      security:
        - BearerAuth:
            - ScanConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/CreateScanConfigRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/CreateScanConfigResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update a Scan Configuration
      tags:
        - Scan Configuration
      security:
        - BearerAuth:
            - ScanConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/UpdateScanConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/UpdateScanConfigResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete a Scan Configuration
      tags:
        - Scan Configuration
      security:
        - BearerAuth:
            - ScanConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '204':
          description: Scan configuration deleted successfully.
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /account:
    get:
      summary: Retrieve the authenticated Account
      description: Get the account that is currently logged in.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountRead
      responses:
        '200':
          $ref: '#/components/responses/GetAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update the authenticated Account
      description: Update the user data of the authenticated account.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountWrite
      requestBody:
        $ref: '#/components/requestBodies/AccountUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /account/market-prices/{platform}:
    get:
      summary: Retrieve energy market prices for the authenticated account
      deprecated: true
      description: >
        List energy market prices for the given interval. Prices are fetched
        from an external energy market

        platform.

        For the given interval, the hourly prices of the second to last day and
        for the last day are returned in a 60M resolution.

        For all the other days in the interval, the average daily price is
        returned.

        For example, in order to get hourly prices for the current day and the
        day before, set the **end** of the interval to the current day.


        **Deprecated** - Use `/systems/{systemID}/tariff/prices` instead.
      tags:
        - Market Prices
      security:
        - BearerAuth:
            - MarketPricesRead
      parameters:
        - in: path
          name: platform
          required: true
          schema:
            type: string
          example: entso-e
          description: >
            Specifies an external platform to receive the energy market prices
            from (currently only one supported).

            - "entso-e": Fetch prices from ENTSO-E Transparency Platform.
        - in: query
          name: domain
          required: false
          schema:
            type: string
          description: >
            Specifies an Area-Code which is currently in use of the European
            markets.


            If set, the default bidding zone set in the account is ignored.

            More details about the bidding zones, can be found
            [here](https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html#_areas).
          example: 10Y1001A1001A82H
        - in: query
          name: interval
          description: Requested time interval for fetching prices in UTC.
          required: true
          example: 2020-09-21T00:00:00Z/2022-09-23T00:00:00Z
          schema:
            type: string
            format: datetime
        - in: query
          name: timezone
          description: >-
            Timezone in which all related times should be loaded before being
            returned.
          required: true
          schema:
            type: string
          example: Europe/Berlin
      responses:
        '200':
          $ref: '#/components/responses/GetEnergyMarketPricesResponse'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
        '502':
          $ref: '#/components/responses/BadGatewayExceptionResponse'
  /account/tokens:
    get:
      summary: Get API tokens
      description: >-
        Retrieve all the organizational API tokens for the currently
        authenticated account.
      tags:
        - Token
      security:
        - BearerAuth:
            - GetAPITokens
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: All the organizational API tokens of the current account.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationalAPIToken'
        '403':
          description: Forbidden (missing authorization)
        '404':
          description: API token not found.
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create an organizational API token
      tags:
        - Token
      security:
        - BearerAuth:
            - APITokenWrite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationalAPITokenCreationStrict'
      responses:
        '201':
          description: Organizational API token created.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/OrganizationalAPITokenWithSecret'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          description: Forbidden (missing authorization)
        '500':
          description: Internal Server Error
  /account/tokens/{tokenID}:
    get:
      summary: Get an organizational API token
      description: >-
        Retrieve the given organizational API token for the currently
        authenticated account.
      parameters:
        - name: tokenID
          in: path
          description: Identifier of the token.
          required: true
          schema:
            type: string
            format: uuid
          example: 218e8795-2442-42d7-901b-1588373e527f
      tags:
        - Token
      security:
        - BearerAuth:
            - GetAPIToken
      responses:
        '200':
          description: API token
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/OrganizationalAPIToken'
        '403':
          description: Forbidden (missing authorization)
        '404':
          description: API token not found
        '500':
          description: Internal Server Error
    patch:
      summary: Partially update an organizational API token
      description: >-
        Partially update the organizational API token of the currently
        authenticated account.
      tags:
        - Token
      security:
        - BearerAuth:
            - UpdateAPIToken
      parameters:
        - name: tokenID
          in: path
          description: Identifier of the token to be updated.
          required: true
          schema:
            type: string
            format: uuid
          example: 218e8795-2442-42d7-901b-1588373e527f
      requestBody:
        description: The new API token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationalAPITokenStrict'
      responses:
        '200':
          description: >-
            The full representation of the token after the partial update on
            success.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/OrganizationalAPIToken'
        '403':
          description: Forbidden (missing authorization)
        '404':
          description: API token not found
        '500':
          description: Internal Server Error
    delete:
      summary: Delete organizational API token
      description: >-
        Remove a given organizational API token from the currently authenticated
        account.
      tags:
        - Token
      parameters:
        - name: tokenID
          in: path
          description: Identifier of the token.
          required: true
          schema:
            type: string
            format: uuid
          example: 218e8795-2442-42d7-901b-1588373e527f
      security:
        - BearerAuth:
            - DeleteAPIToken
      responses:
        '204':
          description: API token deleted successfully
        '403':
          description: Forbidden (missing authorization)
        '404':
          description: API token not found
        '500':
          description: Internal Server Error
  /account/tokens/{tokenID}/rotate:
    post:
      summary: Rotate an existing organizational API token
      description: >
        Rotates a non-expired organizational API token for the given token ID.

        The current expiry date is extended by the value specified in the
        `lifetime` parameter (if specified).

        The token's permissions remain unchanged.
      parameters:
        - name: tokenID
          in: path
          description: Identifier of the token.
          required: true
          schema:
            type: string
            format: uuid
          example: 218e8795-2442-42d7-901b-1588373e527f
        - name: lifetime
          description: Life time to add to the current expiry date.
          required: false
          in: query
          example: 1D
          schema:
            type: string
            enum:
              - 1D
              - 1W
              - 1M
              - 1Y
      tags:
        - Token
      security:
        - BearerAuth:
            - RotateAPIToken
      responses:
        '201':
          description: New API token
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/OrganizationalAPITokenWithSecret'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          description: API token not found
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts:
    get:
      summary: List all Accounts
      description: List accounts that are accessible to the authenticated user.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountsRead
      parameters:
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create an Account
      description: >-
        Create a new account for the authenticated user. The child account will
        inherit the authenticated accounts information.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountsWrite
      requestBody:
        $ref: '#/components/requestBodies/AccountCreateRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/CreateAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}:
    get:
      summary: Retrieve an Account
      description: Get an Account by its ID. Make sure you have the necessary permissions.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update an Account
      description: >-
        Update an Account's information. Make sure you have the necessary
        permissions.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/AccountUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete an Account
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '204':
          description: Account deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/parent:
    patch:
      summary: Move account to different parent.
      description: >
        Moves a b2b account (and all its resources) into a target b2b account
        that is accessible to the authenticated user.  

        A b2b account is an account with `kind="b2b"`
      tags:
        - Account
      security:
        - BearerAuth:
            - MoveAccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/MoveAccountRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/MoveAccountResponse'
        '400':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/accounts:
    get:
      summary: List all nested Accounts
      description: >-
        List all child accounts of the given account that are accessible to the
        authenticated user.
      tags:
        - Account
      security:
        - BearerAuth:
            - NestedAccountsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/systems:
    get:
      summary: List Account's Systems
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embed'
      responses:
        '200':
          $ref: '#/components/responses/GetSystemsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Assign a System to an Account
      tags:
        - System
      security:
        - BearerAuth:
            - AccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/AssignSystemToAccount'
      responses:
        '200':
          $ref: '#/components/responses/AssignSystemToAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Unassign a System from an Account
      tags:
        - System
      security:
        - BearerAuth:
            - AccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/UnassignSystemToAccount'
      responses:
        '200':
          $ref: '#/components/responses/UnassignSystemToAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/policies:
    post:
      summary: Assign a Policy Document to an Account
      tags:
        - Policy
      security:
        - BearerAuth:
            - AccountsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/AssignPolicyDocumentToAccountRequestBody'
      responses:
        '204':
          description: Policy document assigned to account successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/documents:
    get:
      summary: Get Account Documents
      description: Lists files with keys that have a specific prefix
      tags:
        - Document
      security:
        - BearerAuth:
            - DocumentsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/prefix'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountDocumentsResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/documents/{documentKey}:
    get:
      summary: Get Account Document
      description: Gets a file and downloads a file
      tags:
        - Document
      security:
        - BearerAuth:
            - DocumentsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/documentKey'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountDocumentResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create Account Document
      description: Creates a new file in the s3 bucket
      tags:
        - Document
      security:
        - BearerAuth:
            - DocumentsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/documentKey'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '201':
          $ref: '#/components/responses/CreateAccountDocumentResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete Account Document
      description: Delete deletes a file using a given key
      tags:
        - Document
      security:
        - BearerAuth:
            - DocumentsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/documentKey'
      responses:
        '204':
          description: Account document deleted successfully.
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/groups:
    get:
      summary: List all Groups
      tags:
        - Group
      security:
        - BearerAuth:
            - GroupsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          $ref: '#/components/responses/GetGroupsByAccountResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create a Group
      tags:
        - Group
      security:
        - BearerAuth:
            - GroupsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/CreatePolicyGroupRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/CreatePolicyGroupResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/groups/{groupID}:
    get:
      summary: Retrieve a Group
      tags:
        - Group
      security:
        - BearerAuth:
            - GroupsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '200':
          $ref: '#/components/responses/GetPolicyGroupResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      tags:
        - Group
      summary: Update a Group
      security:
        - BearerAuth:
            - GroupsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/groupID'
      requestBody:
        description: Policy Group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyGroupUpdateStrict'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePolicyGroupResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      tags:
        - Group
      summary: Delete a Group
      security:
        - BearerAuth:
            - GroupsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '204':
          description: Policy group deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/groups/{groupID}/policies:
    get:
      summary: Get Policy Documents in a Group
      tags:
        - Group
      security:
        - BearerAuth:
            - GroupsRead
            - PoliciesRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/groupID'
      responses:
        '200':
          $ref: '#/components/responses/GetPolicyDocumentsInGroup'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/users/{userID}:
    delete:
      summary: Delete User
      description: Delete a user given its ID.
      tags:
        - User
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/deleteAuth0'
      responses:
        '204':
          description: User deleted.
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/users/{userID}/notifications:
    get:
      summary: List all Notifications
      description: |
        Lists all notification for a user.

        User ID may be explicitly specified as a path parameter,
        otherwise the authenticated user will be used.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
        - name: unread
          description: List only unread notifications.
          in: query
          schema:
            type: boolean
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create User Notifications
      description: |
        Creates a notification for a user.

        User ID may be explicitly specified as a path parameter,
        otherwise the authenticated user will be used.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
      requestBody:
        $ref: '#/components/requestBodies/CreateUserNotificationsRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/CreateUserNotificationsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/users/{userID}/notifications/{notificationID}:
    get:
      summary: Retrieve a Notification
      description: |
        Returns a notification by its ID.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/notificationID'
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    put:
      summary: Update Notification
      description: |
        Updates an existing notification.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/notificationID'
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserNotificationsRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/NotificationNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete Notification
      description: |
        Deletes an existing notification.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/notificationID'
      responses:
        '204':
          description: Notification deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/users/{userID}/notifications/rules:
    get:
      summary: List all Rules
      description: >
        Lists all rules for the user.


        The user and account may be specified explicitly via path parameters or
        implicitly via the authentication context. Explicitly specified values
        take precedence.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationRulesResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create a Rule
      description: >
        Creates a new rule.


        The user and account may be specified explicitly via path parameters or
        implicitly via the authentication context. Explicitly specified values
        take precedence.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
      requestBody:
        $ref: '#/components/requestBodies/CreateNotificationRuleRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/GetNotificationRuleResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/users/{userID}/notifications/rules/{ruleID}:
    get:
      summary: Retrieve a Rule
      description: >
        Returns a rule specified by its ID.


        The user and account may be specified explicitly via path parameters or
        implicitly via the authentication context. Explicitly specified values
        take precedence.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/ruleID'
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationRuleResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    put:
      summary: Update a Rule
      description: >
        Updates a rule specified by its ID.


        The user and account may be specified explicitly via path parameters or
        implicitly via the authentication context. Explicitly specified values
        take precedence.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/ruleID'
      requestBody:
        $ref: '#/components/requestBodies/UpdateNotificationRuleRequestBody'
      responses:
        '204':
          description: Notification rule updated successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete a Rule
      description: >
        Deletes a rule specified by its ID.


        The user and account may be specified explicitly via path parameters or
        implicitly via the authentication context. Explicitly specified values
        take precedence.
      tags:
        - Notification
      security:
        - BearerAuth:
            - AccountsUsersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/ruleID'
      responses:
        '204':
          description: Notification rule deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/plans:
    get:
      summary: List Charge Plans
      description: |
        Lists all available charge plans.
      tags:
        - Plan
      security:
        - BearerAuth:
            - PlansRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/GetChargePlansResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/plans/{planID}:
    post:
      summary: Assign Charge Plan.
      description: |
        Assign charge plan to account.
      tags:
        - Plan
      security:
        - BearerAuth:
            - PlansWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/planID'
      responses:
        '200':
          $ref: '#/components/responses/AssignChargePlanResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Unassign Charge Plan.
      description: |
        Unassign charge plan from account.
      tags:
        - Plan
      security:
        - BearerAuth:
            - PlansWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/planID'
      responses:
        '204':
          description: Charge plan unassigned.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/rfidtags/{tagID}:
    get:
      summary: Get RFID Tag
      description: |
        Gets RFID tag for account.
      tags:
        - RFIDTag
      security:
        - BearerAuth:
            - RFIDTagsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
      responses:
        '200':
          $ref: '#/components/responses/GetRFIDTagResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update RFID Tag
      description: |
        Updates RFID tag for account.
      tags:
        - RFIDTag
        - Account
      security:
        - BearerAuth:
            - RFIDTagsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
      requestBody:
        $ref: '#/components/requestBodies/UpdateRFIDTagRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/UpdateRFIDTagResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete RFID Tag
      description: |
        Deletes RFID tag for account.
      tags:
        - RFIDTag
      security:
        - BearerAuth:
            - RFIDTagsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
      responses:
        '204':
          description: RFID tag deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/rfidtags/{tagID}/appliances:
    get:
      summary: List Appliances by RFID Tag
      description: |
        Lists all appliances by RFID tag for account.
      tags:
        - RFIDTag
      security:
        - BearerAuth:
            - RFIDTagsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/ListAppliancesByRFIDTagsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/rfidtags/{tagID}/appliances/{applianceID}:
    put:
      summary: Assign Tag to Appliances
      description: |
        Assigns a tag to an appliance.
      tags:
        - RFIDTag
      security:
        - BearerAuth:
            - RFIDTagsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '204':
          description: Tag assigned to appliance successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Unassign Tag from Appliances
      description: |
        Unassigns a tag from an appliance.
      tags:
        - RFIDTag
      security:
        - BearerAuth:
            - RFIDTagsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/tagID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '204':
          description: Tag unassigned from appliance successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/parents:
    get:
      summary: List all parent accounts
      description: |
        Lists all parent accounts starting at the passed account until root.
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountParentsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
      security: []
  /accounts/{accountID}/platform-mapping:
    get:
      summary: Get Platform Mapping
      description: Get the platform-related information of the given accountID.
      tags:
        - Platform
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          description: Platform Mapping
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/PlatformMapping'
        '204':
          description: No platform-related information found for the given accountID
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/AccountNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /accounts/{accountID}/bidding-zone:
    get:
      summary: Get bidding zone
      description: |
        Get the electricity market bidding zone of the given accountID.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          description: Bidding zone of the account.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/BiddingZone'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    put:
      summary: Set bidding zone
      description: |
        Set the electricity market bidding zone of the given accountID.
      tags:
        - Account
      security:
        - BearerAuth:
            - AccountWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        required: true
        content:
          application/vnd.gridx.v2+json:
            schema:
              $ref: '#/components/schemas/BiddingZoneSetStrict'
      responses:
        '200':
          description: Bidding zone of the account.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/BiddingZone'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /account/tariffs:
    get:
      summary: List Energy Tariffs
      deprecated: true
      description: |
        List all available energy tariffs of the account.

        **Deprecated** - Use TariffV2 instead.
      tags:
        - Energy Tariff
      security:
        - BearerAuth:
            - AccountTariffRead
      responses:
        '200':
          description: All available energy tariffs.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/EnergyTariff'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create Energy Tariff
      deprecated: true
      description: |
        Create an energy tariff for the account.

        **Deprecated** - Use TariffV2 instead.
      tags:
        - Energy Tariff
      security:
        - BearerAuth:
            - AccountTariffWrite
      requestBody:
        description: Energy tariff to be created for the account.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnergyTariffStrict'
      responses:
        '201':
          description: The created tariff.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EnergyTariff'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /account/tariffs/{tariffID}:
    get:
      summary: Get Energy Tariff
      deprecated: true
      description: |
        Get the specified energy tariff of the account.

        **Deprecated** - Use TariffV2 instead.
      parameters:
        - $ref: '#/components/parameters/tariffID'
      tags:
        - Energy Tariff
      security:
        - BearerAuth:
            - AccountTariffRead
      responses:
        '200':
          description: The specified energy tariff.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EnergyTariff'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/TariffNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update Energy Tariff
      deprecated: true
      description: |
        Update the specified energy tariff of the account.

        **Deprecated** - Use TariffV2 instead.
      parameters:
        - $ref: '#/components/parameters/tariffID'
      tags:
        - Energy Tariff
      security:
        - BearerAuth:
            - AccountTariffWrite
      responses:
        '200':
          description: The updated energy tariff.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EnergyTariff'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/TariffNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete Energy Tariff
      deprecated: true
      description: |
        Delete the specified energy tariff of the account.

        **Deprecated** - Use TariffV2 instead.
      parameters:
        - $ref: '#/components/parameters/tariffID'
      tags:
        - Energy Tariff
      security:
        - BearerAuth:
            - AccountTariffWrite
      responses:
        '204':
          description: Tariff has been deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/TariffNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /beta/systems:
    get:
      summary: Proxy of the AMT endpoint.
      description: >
        This endpoint proxies the AMT endpoint.

        The request and response are the same, the only difference is the
        endpoint.

        See
        [links](https://backstage.sre.gridx.de/catalog/default/api/system-api/definition#/System/get_applications__application_id__systems)
      tags:
        - Asset
      responses:
        '200':
          description: Success
  /clusters:
    get:
      security:
        - BearerAuth:
            - ClustersRead
      summary: Allows to retrieve the list of all available clusters.
      tags:
        - Clusters
      responses:
        '200':
          description: OK
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cluster'
        '500':
          description: Internal error
    post:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Create a new cluster.
      tags:
        - Clusters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterSetStrict'
        required: true
      responses:
        '201':
          description: Created resource
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '500':
          description: Internal error
  /clusters/{clusterID}:
    get:
      security:
        - BearerAuth:
            - ClustersRead
      summary: Allows to retrieve a cluster.
      tags:
        - Clusters
      parameters:
        - $ref: '#/components/parameters/clusterID'
      responses:
        '200':
          description: OK
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '500':
          description: Internal error
    patch:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Partially update a cluster.
      tags:
        - Clusters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbstractClusterStrict'
        required: true
      parameters:
        - $ref: '#/components/parameters/clusterID'
      responses:
        '200':
          description: OK
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '500':
          description: Internal error
    put:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Replace an existing cluster.
      tags:
        - Clusters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterSetStrict'
        required: true
      parameters:
        - $ref: '#/components/parameters/clusterID'
      responses:
        '200':
          description: OK
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '500':
          description: Internal error
    delete:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Delete an existing cluster.
      tags:
        - Clusters
      parameters:
        - $ref: '#/components/parameters/clusterID'
      responses:
        '204':
          description: No content
        '500':
          description: Internal error
  /clusters/{clusterID}/members/{memberID}:
    post:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Assign a member to an existing cluster.
      description: >
        Assign a member to an existing cluster. 

        A cluster member can be either an appliance or another cluster (nested
        cluster).
      tags:
        - Clusters
      parameters:
        - $ref: '#/components/parameters/clusterID'
        - $ref: '#/components/parameters/memberID'
      responses:
        '204':
          description: No content
        '500':
          description: Internal error
    delete:
      security:
        - BearerAuth:
            - ClustersWrite
      summary: Unassign a member to an existing cluster.
      tags:
        - Clusters
      parameters:
        - $ref: '#/components/parameters/clusterID'
        - $ref: '#/components/parameters/memberID'
      responses:
        '204':
          description: No content
        '500':
          description: Internal error
  /customers:
    get:
      summary: List all Customers
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersRead
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/order'
      responses:
        '200':
          description: Customers returned
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedException'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create Customer
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersWrite
      requestBody:
        description: Create customer
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAccountStrict'
      responses:
        '201':
          description: Customer created
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/CustomerAccount'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /customers/{accountID}:
    get:
      summary: Get Customer
      description: Get a single customer given its account ID.
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          description: Customer returned
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/CustomerAccount'
        '400':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Edit a single customer
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/CustomerAccountUpdateRequestBody'
      responses:
        '200':
          description: Customers updated
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/CustomerAccount'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete Customer
      description: Delete a customer given its ID.
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
        - $ref: '#/components/parameters/deleteAuth0'
      responses:
        '204':
          description: Customer deleted.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /customers/{customerID}/users:
    get:
      summary: List Customer's users
      description: Get a list of all users that belong to this customer.
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersUsersRead
      parameters:
        - $ref: '#/components/parameters/customerID'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/order'
      responses:
        '200':
          description: Users returned
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create User in Customer
      description: Create a new user for the customer.
      parameters:
        - $ref: '#/components/parameters/customerID'
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersUsersWrite
      requestBody:
        description: Create user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStrict'
      responses:
        '201':
          description: User created.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /customers/{customerID}/users/{userID}/impersonation:
    post:
      summary: Create Redirect Token
      description: Create a new token for the customer's user.
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersUsersImpersonationWrite
      parameters:
        - $ref: '#/components/parameters/customerID'
        - $ref: '#/components/parameters/userID'
      requestBody:
        $ref: '#/components/requestBodies/ImpersonationRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/ImpersonatedResp'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /customers/{accountID}/systems:
    get:
      summary: List Systems of a Account
      description: List Systems that belong to a Account of a Customer
      tags:
        - System
        - Customer
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          description: List of Systems returned.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/System'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Adds a System to an Account
      description: Adds a new System to an Account of a Customer
      tags:
        - System
        - Customer
      security:
        - BearerAuth:
            - SystemsWrite
      parameters:
        - $ref: '#/components/parameters/accountID'
      requestBody:
        $ref: '#/components/requestBodies/AssignSystemToAccount'
      responses:
        '201':
          description: System added
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /customers/{accountID}/users/{userID}/logins:
    get:
      summary: List Login Events of a User
      description: returns a list of authentication events of the authenticated user
      tags:
        - Customer
      security:
        - BearerAuth:
            - CustomersUsersRead
      parameters:
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/accountID'
      responses:
        '200':
          description: return a list of authentication events
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthEvent'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /systems/{systemID}/gateways/{gatewayID}/import-power-limit:
    get:
      summary: Retrieve gateway's current import power limit.
      tags:
        - Import Power Limit
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/systemID'
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '200':
          $ref: '#/components/responses/GetImportPowerLimitResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/ImportPowerLimitNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    put:
      summary: Set gateway's import power limit.
      tags:
        - Import Power Limit
      security:
        - BearerAuth:
            - SystemsWrite
      parameters:
        - $ref: '#/components/parameters/systemID'
        - $ref: '#/components/parameters/gatewayID'
      requestBody:
        $ref: '#/components/requestBodies/SetImportPowerLimitRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/SetImportPowerLimitResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete gateway's import power limit.
      tags:
        - Import Power Limit
      security:
        - BearerAuth:
            - SystemsWrite
      parameters:
        - $ref: '#/components/parameters/systemID'
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '204':
          description: Import power limit deleted successfully!
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /systems/{systemID}/gateways/{gatewayID}/import-power-limit/historical:
    get:
      summary: Get gateway's historical import power limits.
      tags:
        - Import Power Limit
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/systemID'
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '200':
          $ref: '#/components/responses/HistoricalPowerLimitsResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/HistoricalPowerLimitsNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /systems:
    get:
      summary: List all Systems
      description: List systems that are accessible to the authenticated user.
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/embed'
      responses:
        '200':
          description: >
            An array of systems of up to `per_page` systems.


            Each entry in the array is a separate system. If no system is
            available, the resulting array will be empty.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemWithUsers'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create a System
      description: Creates a System.
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsWrite
      requestBody:
        $ref: '#/components/requestBodies/SystemCreationRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/SystemCreated'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /systems/{systemID}:
    get:
      summary: Retrieve a System
      description: Retrieves the details of an existing system.
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsRead
      parameters:
        - $ref: '#/components/parameters/systemID'
      responses:
        '200':
          description: Returned system.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/System'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/SystemNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update a System
      description: >
        Updates the specific system by setting the values of the body
        parameters.


        Any parameters not provided will be left unchanged.
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsWrite
      parameters:
        - $ref: '#/components/parameters/systemID'
      requestBody:
        $ref: '#/components/requestBodies/SystemUpdateRequestBody'
      responses:
        '200':
          description: Returned system.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/System'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/SystemNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete a System
      description: >
        Deletes a system.


        **Important**: The system must not have any attached Gateway. Reset any
        attached Gateway first by creating a *reset job*.
      tags:
        - System
      security:
        - BearerAuth:
            - SystemsWrite
      parameters:
        - $ref: '#/components/parameters/systemID'
      responses:
        '204':
          description: System has been deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways:
    get:
      summary: List all Gateways
      description: List gateways that are accessible to the authenticated user.
      tags:
        - Gateway
      security:
        - BearerAuth:
            - GatewaysRead
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: >
            An array of gateways of up to `per_page` gateways.


            Each entry in the array is a separate gateway. If no gateway is
            available, the resulting array will be empty.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Gateway'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}:
    get:
      summary: Retrieve a Gateway
      description: Retrieves the details of an existing gateway.
      tags:
        - Gateway
      security:
        - BearerAuth:
            - GatewaysRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '200':
          description: Returned gateway.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/GatewayWithSystem'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update a Gateway
      description: >
        Updates the specific gateway by setting the values of the body
        parameters.


        Any parameters not provided will be left unchanged.
      tags:
        - Gateway
      security:
        - BearerAuth:
            - GatewaysWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayUpdateStrict'
      responses:
        '200':
          description: Returned gateway.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete a Gateway
      description: Deletes a Gateway.
      tags:
        - Gateway
      security:
        - BearerAuth:
            - GatewaysWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '204':
          description: Gateway has been deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /systems/{systemID}/gateways:
    post:
      summary: Create a System's Gateway
      description: Creates a gateway.
      tags:
        - Gateway
      security:
        - BearerAuth:
            - GatewayWrite
      parameters:
        - $ref: '#/components/parameters/systemID'
      requestBody:
        $ref: '#/components/requestBodies/GatewayCreation'
      responses:
        '201':
          description: Created gateway.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/SystemNotFoundResponse'
        '422':
          description: The payload for creating the gateway contains invalid data.
          content:
            application/vnd.gridx.v2+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GeneralException'
                  - properties:
                      type:
                        type: string
                        enum:
                          - GENERAL
                          - STARTCODE_NOT_FOUND
                          - STARTCODE_ALREADY_REGISTERED
                    required:
                      - type
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/scans:
    get:
      summary: List Gateway's Scans
      description: >
        List of scans for the given gateway and the given interval.


        If no interval is specified, the entire period is considered and all
        scans are listed.
      tags:
        - Scan
      security:
        - BearerAuth:
            - ScansRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/interval'
      responses:
        '200':
          description: |
            An array of scans.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scan'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/jobs:
    get:
      summary: List Gateway's Jobs
      description: |
        List jobs that belong to the given gateway.
      tags:
        - Job
      security:
        - BearerAuth:
            - JobsRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
      responses:
        '200':
          description: |
            An array of jobs.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobWithExecutions'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/jobs/{jobIDOrType}:
    get:
      summary: Get a Job
      description: >
        Gets a particular job that belongs to the given gateway. In this case,
        the path parameter should be a job ID.
      tags:
        - Job
      security:
        - BearerAuth:
            - JobsRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/jobIDOrType'
      responses:
        '200':
          description: |
            A job.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/JobWithExecutions'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '404':
          $ref: '#/components/responses/JobNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create a job with a given type
      description: >
        Creates a job with the given type for the given gateway, only if a job
        with that type doesn't already exist.

        In this case, the path parameter should be a job type. Please note that
        the job type is case-sensitive.

          * `SCAN`: Once this job is triggered, the gridBox will look for connected appliances and update the list accordingly.

          * `RESET`: This type of job resets gridBox to default and removes it from previously configured system.

          * `RESTART`: Once this job is triggered, the gridBox will restart.

        *Job execution is asynchronous and does not guarantee immediate
        execution.*
      tags:
        - Job
      security:
        - BearerAuth:
            - JobsWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/jobIDOrType'
      responses:
        '201':
          description: |
            A job.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/JobCreation'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Cancel a particular job
      description: >
        Cancels a particular job from the given gateway. In this case, the path
        parameter should be a job ID.
      tags:
        - Job
      security:
        - BearerAuth:
            - JobsWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/jobIDOrType'
      responses:
        '200':
          description: |
            A job.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/JobWithExecutions'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '404':
          $ref: '#/components/responses/JobNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/appliances:
    get:
      summary: List Gateway's Appliances
      description: >
        Lists appliances that belong to the given gateway.


        Children appliances, e.g. those of hybrid inverters, are not included by
        default.

        To include them, `listAll` parameter must be set to `true`.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/listAll'
      responses:
        '200':
          description: >
            An array of appliances of up to `per_page` appliances.


            Each entry in the array is a separate appliance. If no appliance is
            available, the resulting array will be empty.
          content:
            application/vnd.gridx.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appliance'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create an Appliance
      description: >
        This endpoint can be used by third parties to create external appliances
        that are not managed by the gridBox itself.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
      requestBody:
        $ref: '#/components/requestBodies/ApplianceCreateRequestBody'
      responses:
        '201':
          description: The appliance has been created successfully.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/appliances/{applianceID}:
    get:
      summary: Retrieve an Appliance
      description: Retrieves the details of an existing appliance.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '200':
          description: Returned Appliance.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update an Appliance
      description: >
        Updates the specific appliance by setting the values of the body
        parameters. 


        Any parameters not provided will be left unchanged.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      requestBody:
        $ref: '#/components/requestBodies/ApplianceUpdateRequestBody'
      responses:
        '200':
          description: Updated appliance.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete an Appliance
      description: Deletes an appliances.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '204':
          description: Appliance has been deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/appliances/{applianceID}/status:
    get:
      summary: Retrieve appliance hardware statuses
      description: >
        Returns appliance hardware statuses for the given interval.


        Only returns multiple statuses when state changes during the given
        interval. If, for example, the state stayed the same for the whole
        interval,

        only one status will be returned.


        Works only for **inverters** currently.
      tags:
        - Appliance
      security:
        - BearerAuth:
            - AppliancesRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
        - $ref: '#/components/parameters/interval'
      responses:
        '200':
          description: Returned hardware status.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/HardwareStatusData'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/appliances/{applianceID}/ev/configuration:
    get:
      summary: Retrieve an EV configuration
      description: Returns an EV charging station's configuration.
      tags:
        - EV Configuration
      security:
        - BearerAuth:
            - AppliancesEVConfigurationRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '200':
          description: Returned EV configuration.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EVChargingStationConfiguration'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create an EV Configuration
      description: >
        Creates an EV charging station's configuration if no configuration is
        present.
      tags:
        - EV Configuration
      security:
        - BearerAuth:
            - AppliancesEVConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      requestBody:
        description: EV configuration to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EVChargingStationConfigurationCreationStrict
      responses:
        '201':
          description: EV charging station configuration created.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EVChargingStationConfiguration'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update an EV configuration
      description: >-
        Updates the specified appliance's EV charging station configuration by
        setting the body parameters.
      tags:
        - EV Configuration
      security:
        - BearerAuth:
            - AppliancesEVConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      requestBody:
        description: Modified EV configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EVChargingStationConfigurationUpdate'
      responses:
        '200':
          description: Updated Charging Station configuration.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/EVChargingStationConfiguration'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete an EV configuration
      description: Deletes an EV charging Station configuration.
      tags:
        - EV Configuration
      security:
        - BearerAuth:
            - AppliancesEVConfigurationWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '204':
          description: EV configuration has been deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
  /gateways/{gatewayID}/appliances/{applianceID}/battery/settings:
    get:
      summary: Retrieve Battery Control Settings
      description: Returns battery control Settings
      deprecated: true
      tags:
        - Battery Control Command
      security:
        - BearerAuth:
            - AppliancesBatteryControlSettingsRead
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '200':
          description: Returned battery control Settings.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/BatteryControlSettings'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    post:
      summary: Create Battery Control Settings
      deprecated: true
      tags:
        - Battery Control Command
      security:
        - BearerAuth:
            - AppliancesBatteryControlSettingsWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      requestBody:
        description: Battery Control Settings to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatteryControlSettingsStrict'
      responses:
        '201':
          description: Created battery control settings.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/BatteryControlSettings'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/GatewayNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    patch:
      summary: Update Battery Control Settings
      deprecated: true
      description: >-
        Updates the specific appliance's battery control settings by setting the
        values of the body parameter.
      tags:
        - Battery Control Command
      security:
        - BearerAuth:
            - AppliancesBatteryControlSettingsWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      requestBody:
        description: Modified battery control settings.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatteryControlSettingsStrict'
      responses:
        '200':
          description: Updated battery control settings.
          content:
            application/vnd.gridx.v2+json:
              schema:
                $ref: '#/components/schemas/BatteryControlSettings'
        '400':
          $ref: '#/components/responses/BadRequestExceptionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
          $ref: '#/components/responses/InternalExceptionResponse'
    delete:
      summary: Delete Battery Control Settings
      deprecated: true
      description: Deletes appliance's battery control settings.
      tags:
        - Battery Control Command
      security:
        - BearerAuth:
            - AppliancesBatteryControlSettingsWrite
      parameters:
        - $ref: '#/components/parameters/gatewayID'
        - $ref: '#/components/parameters/applianceID'
      responses:
        '204':
          description: Battery Control Settings has been deleted successfully.
        '403':
          $ref: '#/components/responses/ForbiddenExceptionResponse'
        '404':
          $ref: '#/components/responses/EntityNotFoundResponse'
        '422':
          $ref: '#/components/responses/InvalidExceptionResponse'
        '500':
[...]
